:root {
  --zombieFooterText: "Zombie v2.0.12";
  --accent: 255, 255, 255;
  --accent-off: 141, 141, 141;
  --dark: 24, 24, 24;
  --darkest: 12, 12, 12;
  --dark-highlight: 48, 48, 48;
  --dark-apparent: 43, 43, 43;
  --white: 243, 242, 243;
  --white-off: 207, 221, 233;
  --jade-green: 0, 172, 111;
  --honey-yellow: 255, 194, 85;
  --cherry-red: 212, 51, 83;
  --rounding: 17px;
  --rounding-alt: 9px;
  --rounding-large: 24px;
  --rounding-circle: 100px;
}


.backgroundContainer {
  background-color: rgba(var(--accent), 0.10) !important;
}