/* 21:9 2560p x 1080p */
@media only screen and (min-width: 2001px) and (max-width: 2560px) and (orientation: landscape) {
    /* 前へのポジションの配置 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] {
      position: relative;
      right: 2280px;
      top: 137px;
    }
    /* 次へのポジションの配置 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] {
      position: relative;
      left: 100px;
      top: 137px;
    }
    /* 次へ前への拡大 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] .material-icons.chevron_right:hover,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] .material-icons.chevron_left:hover {
     transform:scale(1.7)!important;
    }
    /* 次へ前への拡大のモーション */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] .material-icons.chevron_right,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] .material-icons.chevron_left {
      transition:.4s;
    }
    /* デフォルトで次へ前へを非表示 */
    .emby-scroller-container .emby-scrollbuttons-button.paper-icon-button-light {
      display: none !important;
    }
    /* ホバー状態で次へ前へを表示 */
    .emby-scroller-container:hover .emby-scrollbuttons-button.paper-icon-button-light {
      display: flex !important;
    }
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"]:disabled,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"]:disabled {
      display: none !important;
    }
    /* 次へが非表示のとき前へのポジションの配置 */
    .emby-scroller-container:not(:has(button[data-direction="right"]:not(:disabled))) button[is="paper-icon-button-light"][data-direction="left"] {
      left: -2387px;
    }
    /* 次へ前へのサイズの変更(大きく) */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"],
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"]  {
      font-size: 125%;
    }
    /* ホバー状態の次へ前への背景の色 */
    .emby-scroller-container:hover .paper-icon-button-light {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    /* 次へ前への背景の形 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"],
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] {
       border-radius: 20px;
       width: 90px;
       height: 230px;
    }

    /* 次へ前への元のボタンを小さくする */ 
    .emby-scroller-container .emby-scrollbuttons.padded-right {
      height: 50px;
    }
}


/* 16:9 1920p x 1080p */
@media only screen and (min-width: 1601px) and (max-width: 1920px) and (orientation: landscape) {
    /* 前へのポジションの配置 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] {
      position: relative;
      right: 1655px;
      top: 126px;
    }
    /* 次へのポジションの配置 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] {
      position: relative;
      left: 100px;
      top: 126px;
    }
    /* 次へ前への拡大 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] .material-icons.chevron_right:hover,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] .material-icons.chevron_left:hover {
     transform:scale(1.7)!important;
    }
    /* 次へ前への拡大のモーション */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"] .material-icons.chevron_right,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] .material-icons.chevron_left {
      transition:.4s;
    }
    /* デフォルトで次へ前へを非表示 */
    .emby-scroller-container .emby-scrollbuttons-button.paper-icon-button-light {
      display: none !important;
    }
    /* ホバー状態で次へ前へを表示 */
    .emby-scroller-container:hover .emby-scrollbuttons-button.paper-icon-button-light {
      display: flex !important;
    }
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"]:disabled,
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"]:disabled {
      display: none !important;
    }
    /* 次へが非表示のとき前へのポジションの配置 */
    .emby-scroller-container:not(:has(button[data-direction="right"]:not(:disabled))) button[is="paper-icon-button-light"][data-direction="left"] {
      left: -1763px;
    }
    /* 次へ前へのサイズの変更(大きく) */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"],
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"]  {
      font-size: 125%;
    }
    /* ホバー状態の次へ前への背景の色 */
    .emby-scroller-container:hover .paper-icon-button-light {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    /* 次へ前への背景の形 */
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="right"],
    .emby-scroller-container button[is="paper-icon-button-light"][data-direction="left"] {
       border-radius: 20px;
       width: 90px;
       height: 205px;
    }

    /* 次へ前への元のボタンを小さくする */ 
    .emby-scroller-container .emby-scrollbuttons.padded-right {
      height: 50px;
    }
}
